@model petStoreMonitoringApp.Models.ViewModels.PerformanceMetricsVM

@{
    ViewData["Title"] = "Performance Metrics";
}
<h1>@ViewData["Title"]</h1>

<br />
<h2>Aggregated Sessions Data</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Page ID</th>
            <th scope="col">Average Response Time</th>
            <th scope="col">Average Session Length</th>
            <th scope="col">Total Number of Sessions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (int pageId in Model.AverageSessionLengths.Keys)
        {
            <tr>
                <th scope="row">@pageId</th>
                <td>@Model.AverageResponseTimes[pageId] s</td>
                <td>@Model.AverageSessionLengths[pageId] s</td>
                <td>@Model.TotalNumbersOfSessions[pageId]</td>
            </tr>
        }
    </tbody>
</table>

<h2>Raw Sessions Data</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Session ID</th>
            <th scope="col">Page ID</th>
            <th scope="col">Request Timestamp</th>
            <th scope="col">Start Timestamp</th>
            <th scope="col">End Timestamp</th>
            <th scope="col">Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var session in Model.SessionsList)
        {
            <tr>
                <th scope="row">@session.SessionId</th>
                <td>@session.PageID</td>
                <td>@session.Request_TimeStamp</td>
                <td>@session.Start_TimeStamp</td>
                <td>@session.End_TimeStamp</td>
                <td>@session.Date</td>
            </tr>
        }
    </tbody>
</table>